
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');


body{
    font-family: 'Indie Flower', "Righteous" ;

    background-color: #d0e9e9;
    
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: rgb(241, 100, 131);
    font-family: 'Indie Flower', cursive;
}

.subtitulo{
    font-family: "Indie Flower";
    color: #a45af4;
    
}

.tarjetas, .tarjetas-ataques {
display: flex; 
gap: 10px;
}
.tarjeta-de-mokepon{
  width: 180px;
    height: 100px;
    background: #bfabf1;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous';
    
}
.tarjeta-de-mokepon img {
    width: 80px;

}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
     background: transparent;
     border: 2px solid #d0aad1;
     color: #d0aad1;
     font-family: 'Righteous';
     margin-top: 30px;


}
 input {
    display: none;
} 
input:checked + label {
    background-color: #3795BD;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-de-ataque {
    background: #bfabf1;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-color: transparent;
}
#mensajes {
    width: 180px;
    background: transparent;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #a45af4;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar{
    border: #a45af4;
    color:#a45af4;
    font-family: 'Righteous';
    background: transparent;

}
.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}
@media (max-width:360px) {
    
    .tarjetas , .tarjetas-ataques   {
    flex-direction: column;
    }
}
