
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Righteous&display=swap');


body{
    font-family: 'Indie Flower', "Righteous" ;

    background-color: #d0e9e9;
    
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: rgb(241, 100, 131);
    font-family: 'Indie Flower', cursive;
}

.subtitulo{
    font-family: "Indie Flower";
    color: #a45af4;
    
}

.tarjetas {
display: flex; 
gap: 10px;
}
.tarjeta-de-mokepon{
  width: 180px;
    height: 100px;
    background: #bfabf1;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #f2aae1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous';
    
}
.tarjeta-de-mokepon img {
    width: 80px;

}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
     background: transparent;
     border: 2px solid #d0aad1;
     color: #d0aad1;
     font-family: 'Righteous';
     margin-top: 30px;


}
input {
    display: none;
}
#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}